<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
  <title>
    yplate  download, examples and documentation
  </title>
  <script type="text/javascript" src="http://yui.yahooapis.com/3.3.0/build/yui/yui.js" charset="utf-8"></script>
  <script type="text/javascript" src="cyplate.js"></script>
  <style type="text/css">
  body {
    width: 90%;
    margin: 0 2em;
    background-color: #FCFCFF;
    font: 1em Helvetica, Arial;
  }
  h1,h2,h3 {
    color: #151B54;
    background-color: #C6DEFF;
    padding-left: 0.25em;
    border-top: 2px solid #0000AA;
    border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
  }
  h3 {
    margin-top: 2em;
    margin-bottom: 0.5em;
  }
  code {
    font-size: 1em;
  }
  ul.tos {
    list-style: none;
  }
  ol li {
    margin-bottom:1.5em;
  }
  div.pre {
    font-family:monospace;
    white-space:pre;
    border: 1px solid #000;
    margin: 0;
    overflow:auto;
    background-color: #FFFFCC;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
  }
  .fpre, .pretext {
    font-family: monospace;
  }
  .fpre {
    white-space: pre;
  }
  .plate-result {
    font-size: 1em;
    padding: 1em;
    border: 1px solid #000;
    background-color: #E6E6FA;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
  }
  .api {
    font-family:monospace;
    padding: 1em 0;
  }
  .bad {
    color: #F00;
  }
  .error-info td, .error-info th, .pos7 {
    vertical-align: top;
    text-align: left;
  }
  .etype {
   white-space: nowrap; 
  }
  .limitations, .troubleshooting {
    max-width: 50%;
    min-width: 600px;
    border-collapse:collapse;
  }
  .troubleshooting td {
    padding-top:0.5em;
    padding-bottom:1em;
    padding-right:1em;
    border-top: 1px solid black;    
  }
  .outputinfo {
    font-weight:bold;
  }
  .footspace {
    margin-bottom:4em;
  }
  .pos7 {
    text-align: left;
    vertical-align: top;
  }
  
  table.api-summary {
    width: 100%;
    border-collapse: collapse;
  }
  
  .api-summary .code {
    padding: 0.2em 0.5em 1em;
    white-space: nowrap;
    border: 1px #aaa solid;
  }
  
  .api-summary .desc {
    padding: 0.2em 0.5em 1em;
    color: #000066;
    border: 1px #aaa solid;
  }
  
  .hotelListWrap {
    width:250px; overflow:hidden; padding:0.5em; margin:1em 0; border:2px solid #aaa;background-color:#ddd; border-radius:1em;-moz-border-radius:1em;-wekit-border-radius:0.5em;
  }
  .padText {
    padding-left: 110px;
  }
  .hotelName {
    font-weight:bold;
  }

</style>

</head>
<body>
  <!--a href="http://github.com/kwa/yplate"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a-->
  <!--h3> 
    <a href="http://github.com/kwa/yplate">yplate</a>
    <span class="small">by <a href="http://github.com/kwa">kwa</a></span>
  </h3>
  <div class="description">
    yplate templating gallery mirror
  </div-->
<h1>Install and use yplate</h1>
  <ul class="tos">
    <li><a href="#one">How to make the yplate module available on your page</a></li>
    <li><a href="#five">API summary</a></li>
    <li><a href="#two">API documentation for yplate using examples</a></li>
    <li><a href="#twohalf">Other examples</a></li>
    <li><a href="#three">Troubleshooting </a></li>
    <li><a href="#four">Limitations and other important information</a></li>
    <li><a href="#six">Credits</a></li>
  </ul>
  <h2><a name="one">How to make the yplate module available on your page</a></h2>
  <h3>Download</h3>
  <div>License: <a href="http://developer.yahoo.com/yui/license.html">http://developer.yahoo.com/yui/license.html</a></div>
  <div>
    You can download this project in either
    <a href="http://github.com/kwa/yplate/zipball/master">zip</a> or
    <a href="http://github.com/kwa/yplate/tarball/master">tar</a> formats.
  </div>
  <div>You can also clone the project with <a href="http://git-scm.com">Git</a>
    by running:
    <p class="fpre">$ git clone git://github.com/kwa/yplate</p>
  </div>
  <div>
    Get the source code on GitHub : <a href="http://github.com/kwa/yplate">kwa/yplate</a>
  </div>
  <p>There are a couple of different ways you can make the module available.</p>
  <ol>
    <li>If yplate is available on the YUI gallery cdn you can include yplate like any other module like e.g. "node".
    (By the way, yplate requires Node).
    <div>
    <div class="pre">
  &lt;script type=&quot;text/javascript&quot;&gt;
   YUI({
     //Last Gallery Build of this module
     gallery: 'gallery-2011.02.18-23-10'
   }).use('gallery-yplate', function (Y) {
     // access yplate code here
   }
   &lt;/script&gt;
    </div>
    <em>Note that if you access the module from YUI the module is called "gallery-yplate" as opposed to just "yplate".</em>
    </div>
    </li>
    <li>If yplate is available locally relative to the current page:
      <p>
        If you have downloaded the module js code and have it in a file called yplate.js then you can do the following
      </p>
      <div>
      
        <div class="pre">
  &lt;html&gt;
    &lt;head&gt;
      &lt;script src=&quot;http://yui.yahooapis.com/3.3.0/build/yui/yui.js&quot; charset=&quot;utf-8&quot;&gt;&lt;/script&gt;
      &lt;script type=&quot;text/javascript&quot; src=&quot;yplate.js&quot;&gt;
    &lt;/head&gt;
    &lt;body&gt;
    &lt;script type=&quot;text/javascript&quot;&gt;
      YUI().use('yplate', function (Y) {
      // access yplate code here
      });
     &lt;/script&gt;
    &lt;/body&gt;
  &lt;/html&gt;
  <!--html><head><script src="http://yui.yahooapis.com/3.3.0/build/yui/yui.js" charset="utf-8"></script><script type="text/javascript" src="yplate-link.js"></head><body><script type="text/javascript">YUI().use('yplate', function (Y) {// access yplate code here}</script></body>
  </html-->
        </div>
      
      <em>Note check the name of the module inside the downloaded js file to make sure you are using the correct use(...) module-id.</em>
      </div>
    </li>
    <li>If yplate is available on some server which is not the current server and not hosted at YUI:
       
        <div class="pre">
  &lt;html&gt;
    &lt;head&gt;&lt;script src=&quot;http://yui.yahooapis.com/3.3.0/build/yui/yui.js&quot; charset=&quot;utf-8&quot;&gt;&lt;/script&gt;&lt;/head&gt;
    &lt;body&gt;
      &lt;script type=&quot;text/javascript&quot;&gt;
      YUI({
        modules:  {
          yplate: {
            name:'yplate',
            fullpath: 'http://my.server.com/js/yplate.js',
            requires: ['node']
        }
      }}).use('yplate', function (Y) {
        // access yplate code here
        new Y.yplate();
      });
      &lt;/script&gt;
    &lt;/body&gt;
  &lt;/html&gt;
          <!--html><head><script src="http://yui.yahooapis.com/3.3.0/build/yui/yui.js" charset="utf-8"></script></head><body><script type="text/javascript">
              YUI({                modules:  {                  yplate: {                    name:'yplate',                    fullpath: 'http://my.server.com/js/yplate.js',                    requires: ['node']                }              }}).use('yplate', function (Y) {                // access yplate code here                new Y.yplate();              }              </script>            </body>          </html-->
        </div>
      
    </li>
  </ol>
  
  <h2>
    <a name="five">
    API Summary
    </a>
  </h2>
  <table class="api-summary" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td class="code pos7">var api = <a name="api-yplate" href="#yplate">new Y.yplate();</a></td>
      <td class="desc pos7">The constructor to get an instance to work with</td>
    </tr>
    
    
    <tr>
      <td class="code pos7">api.<a name="api-plateTag" href="#plateTag">plateTag</a>(String /* one character */);</td>
      <td class="desc pos7">set the tag character for the api instance. The default is "%". Other choices can for example be "+" or "*"</td>
    </tr>
    <tr>
      <td class="code pos7">api.<a name="api-plate" href="#plate">plate</a>(<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;HTMLnode|Node|String /*template source*/,<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;object|array of object /* model */, <br/>
      &nbsp;&nbsp;&nbsp;&nbsp;String [templatecacheid] /*cache id*/, <br/>
      &nbsp;&nbsp;&nbsp;&nbsp;String [tag] /* tag character whose length = 1*/);</td>
      <td class="desc pos7">compiles template source, merges model and template to produce a Node or NodeList.
      If the optional templatecacheid is provided, the template will be cached.
      If the optional tag is provided, it will be used instead of the default</td>
    </tr>
    <tr>
      <td class="code pos7">api.<a name="api-platecache" href="#platecache">platecache</a>(<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;String /*templatecacheid*/, <br/>
      &nbsp;&nbsp;&nbsp;&nbsp;object|array of object, <br/>
      &nbsp;&nbsp;&nbsp;&nbsp;[tag]);</td>
      <td class="desc pos7">merges model and cached template to produce a Node or NodeList</td>
    </tr>
    <tr>  
      <td class="code pos7">api.<a name="api-plateText" href="#plateText">plateText</a>(<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;HTMLnode|Node|String /*template source*/, <br/>
      &nbsp;&nbsp;&nbsp;&nbsp;object|array of object /* model */, <br/>
      &nbsp;&nbsp;&nbsp;&nbsp;[templatecacheid] /*cache id*/, <br/>
      &nbsp;&nbsp;&nbsp;&nbsp;[tag] /* tag character*/);</td>
      <td class="desc pos7">merges model and template to produce an html string or an array of html string</td>
    </tr>
    <tr> 
      <td class="code pos7">api.<a name="api-platecacheText" href="#platecacheText">platecacheText</a>(<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;String /*templatecacheid*/, <br/>
      &nbsp;&nbsp;&nbsp;&nbsp;object|array of object, <br/>
      &nbsp;&nbsp;&nbsp;&nbsp;[tag]);</td>
      <td class="desc pos7">merges model and cached template to produce an html string or an array of html string</td>
    </tr>
    <tr>  
      <td class="code pos7">api.<a name="api-cachecompile" href="#cachecompile">cachecompile</a>(<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;HTMLnode|Node|String, <br/>
      &nbsp;&nbsp;&nbsp;&nbsp;[templatecacheid]");</td>
      <td class="desc pos7">compile template and add to cache if templatecacheid is provided, returns a template,
      which can be used to with api.cacheadd()</td>
    </tr>
    <tr>  
      <td class="code pos7">api.<a name="api-cacheadd" href="#cacheadd">cacheadd</a>(<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;String /*templatecacheid*/, <br/>
      &nbsp;&nbsp;&nbsp;&nbsp;String /*result of api.cachecompile()*/);</td>
      <td class="desc pos7">add a pre-compiled template to the cache. You can, for example, pre-compile templates (using cachecompile()) and save them server side. You can at a later time fetch the templates with an ajax request and insert them into an yplate instance using cacheadd().</td>
    </tr>
    <tr>  
      <td class="code pos7">api.<a name="api-cacheview" href="#cacheview">cacheview</a>String /*templatecacheid*/);</td>
      <td class="desc pos7">check to see if the cache contains something for that id.</td>
    </tr>
    <tr>  
     <td class="code pos7">escape statement <a name="api-escape" href="#escape">"&lt;%!"</a></td>
      <td class="desc pos7">Useful when you need to print characters which could be interpreted as yplate reserved words like the print statement or similar.</td>
    </tr>
    <tr>  
     <td class="code pos7">print statement <a name="api-print" href="#code">"&lt;%="</a></td>
      <td class="desc pos7">Placeholder for output data. The print statement will be replaced by the data referenced inside the statement.
      <br/><span class="pretext">Ex: &lt;%= this.json_data_value %&gt;</span></td>
    </tr>
    <tr>  
     <td class="code pos7">code statement <a name="api-code" href="#code">"&lt;% "</a></td>
      <td class="desc pos7">When you want to define local javascript statements like definding local variables or such. <br/>
      Ex: <span class="pretext">&lt;% var a = this.json_data_part; %&gt;</span>,<br/> now "a" is available for the print statement like so: a-value is   &lt;%= a %&gt;</td>
    </tr>
    <tr>  
      <td class="code pos7">In template variable <a name="api-YP_DATA" href="#YP_DATA">"YP_DATA"</a></td>
      <td class="desc pos7">The model provided as an array. If your input data-model is an array itself it will not be wrapped inside yet another array. It is assumed that each index
      in the array contains a model for which to apply the template. <p>So if your model is an array,<span class="pretext"> var your_model = [];</span>, then the model used as argument to the yplate functions
      should be wrapped inside an object: <span class="pretext">var yplate_model = {my_array:your_model};</span> And then accessed in the template code as <span class="pretext">&lt;%= this.my_array[0] %&gt;</span> for example.</p></td>
    </tr>
    <tr>  
     <td class="code pos7">In template variable <a name="api-YPJ" href="#YPJ">"YPJ"</a></td>
      <td class="desc pos7">Current index, which starts at 0 (zero), into "YP_DATA"</td>
    </tr>
    <tr>  
      <td class="code pos7">In template variable <a name="api-YP_DATA_SIZE" href="#YP_DATA_SIZE">"YP_DATA_SIZE"</a></td>
      <td class="desc pos7">The length of the "YP_DATA" array</td>
    </tr>
  </table>

 
  
  
  <h2>
    <a name="two">
    API documentation for yplate using examples
    </a>
  </h2>
  <div>DOWNLOAD the project files and open up "examples.html" (<a href="http://github.com/kwa/yplate">kwa/yplate</a>) to start experimenting with the examples given below.</div>
  <h3>
    <a name="inline-quick">Inline/Quick usage (sort of similar to Y.substitute())</a>
  </h3>
  <div>
    API introduced:
    <div class="api">
      <a name="yplate" href="#api-yplate">yplate();</a> // constructor<br/>
      api.<a name="plateText" href="#api-plateText">plateText</a>(HTMLnode|Node, data|array of data, [templatecacheid], [tag]);// apply template to data, return html text<br/>
      api.<a name="plate" href="#api-plate">plate</a>(HTMLnode|Node, data|array of data, [templatecacheid], [tag]);// apply template to data, return node<br/>
    </div>
    <div class="pre">
      
  &lt;div id=&quot;johnNode&quot;&gt;&lt;/div&gt;
  &lt;div id=&quot;johnHtml&quot;&gt;&lt;/div&gt;
  &lt;script type=&quot;text/javascript&quot;&gt;
  YUI().use('yplate', function (Y) {// choose a way to make yplate available...
    // create an instance to work with
    var yp = new Y.yplate();
    // a model to use with the template
    var model = {&quot;name&quot;:&quot;John&quot;};
    // if we want a Node to be returned, and append to existing node.
    var node = yp.plate(&quot;Hi &lt;%= this.name %&gt; ! Node&quot;, model);
    Y.one(&quot;#johnNode&quot;).append(node);
    // or if we want html to be returned to be used with innerHTML
    var html = yp.plateText(&quot;Hi &lt;%= this.name %&gt; ! html&quot;, model);
    document.getElementById(&quot;johnHtml&quot;).innerHTML = html;
  });
  &lt;/script&gt;      
          
    </div>
    Result:
      <div class="plate-result">
      
      <div id="johnNode">
        <span id="loadfail">If you are reading this then YUI and or yplate has failed to load, check that YUI and yplate files are present.</span>
      </div>
      <div id="johnHtml"></div>
      <script type="text/javascript">
      //<![CDATA[
      YUI().use('yplate', function (Y) {// choose a way to make yplate available...
        Y.one("#loadfail").remove();
        // create an instance to work with
        var yp = new Y.yplate();
        // a model to use with the template
        var model = {"name":"John"};
        // if we want a Node to be returned, and append to existing node.
        var node = yp.plate("Hi <%= this.name %> ! Node", model);
        Y.one("#johnNode").append(node);
        // or if we want html to be returned to be used with innerHTML
        var html = yp.plateText("Hi <%= this.name %> ! html", model);
        document.getElementById("johnHtml").innerHTML = html;
      });
      //]]>
      </script>
      
      </div>
  </div>

  <h3>
    <a name="inline-quick">Use different tag character</a>
  </h3>
  <div>
    API introduced:
    <div class="api">
      api.<a name="plateTag" href="#api-plateTag">plateTag</a>(String);<br/>
    </div>
    
      <div class="pre">
  &lt;div id=&quot;tagOut&quot;&gt;&lt;/div&gt;
  &lt;script type=&quot;text/javascript&quot;&gt;
  //&lt;![CDATA[
  YUI().use('yplate', function (Y) {// choose a way to make yplate available...
    // create an instance to work with
    var yp = new Y.yplate();
    // change the template tag for all invocations of this (yp) instance.
    yp.plateTag(&quot;+&quot;);// instead of the default &quot;%&quot; tag.
    // when we want a html to be returned
    var html = yp.plateText(&quot;Hi &lt;+= this.name +&gt; !&quot;, {&quot;name&quot;:&quot;Parker&quot;});
    document.getElementById(&quot;tagOut&quot;).innerHTML = html;
    // We have set &quot;+&quot; as the tag for the yp instance, but we can override for each invocation if we want to.
    // For this invocation let us override the tag with &quot;*&quot; see the third parameter.
    var html2 = yp.plateText(&quot;&lt;br/&gt;Hi &lt;*= this.name *&gt; !&quot;, {&quot;name&quot;:&quot;John&quot;}, null, &quot;*&quot;);
    document.getElementById(&quot;tagOut&quot;).innerHTML = document.getElementById(&quot;tagOut&quot;).innerHTML + html2 ;
  });
  //]]&gt;
  &lt;/script&gt;        
      </div>
    
    Result:
    
      <div class="plate-result">
      <div id="tagOut"></div>
      <script type="text/javascript">
      //<![CDATA[
      YUI().use('yplate', function (Y) {// choose a way to make yplate available...
        // create an instance to work with
        var yp = new Y.yplate();
        // change the template tag for all invocations of this (yp) instance.
        yp.plateTag("+");// instead of the default "%" tag.
        // when we want a html to be returned
        var html = yp.plateText("Hi <+= this.name +> !", {"name":"Parker"});
        document.getElementById("tagOut").innerHTML = html;
        // We have set "+" as the tag for the yp instance, but we can override for each invocation if we want to.
        // For this invocation let us override the tag with "*" see the third parameter.
        var html2 = yp.plateText("<br/>Hi <*= this.name *> !", {"name":"John"}, null, "*");
        document.getElementById("tagOut").innerHTML = document.getElementById("tagOut").innerHTML + html2 ;
      });
      //]]>
      </script>
      </div>
    
  </div>
  
  <h3>
    <a name="inline-quick">Compile a template and re-use it</a>
  </h3>
  <div>
    API introduced:
    <div class="api">
      api.<a name="cachecompile" href="#api-cachecompile">cachecompile</a>(HTMLnode|Node, [templatecacheid]);// returned value is intended to be used by cacheadd(), you don't have to use the returned value, it will still be cached for the api instance.<br/>
      api.<a name="platecacheText" href="#api-platecacheText">platecacheText</a>(templatecacheid /*string*/, data|array of data, [tag]);// apply cached template to data, return html text | array of texts<br/>
    </div>
    
      <div class="pre">
  &lt;div id=&quot;tagOut2&quot;&gt;&lt;/div&gt;
  &lt;script type=&quot;text/javascript&quot;&gt;
  YUI().use('yplate', function (Y) {// choose a way to make yplate available...
    var yp = new Y.yplate();
    yp.plateTag(&quot;*&quot;);// change tag for fun.
    // second parameter should be a unique id (a valid javascript identifier name) for the yp instance.
    // If you use the same id with another template it will be overwritten.
    yp.cachecompile(&quot;&lt;*= this.name *&gt; &quot;, &quot;quick&quot;);
    // use cached and compiled template with a model
    var modelA = {&quot;name&quot;:&quot;John&quot;};
    var modelB = {&quot;name&quot;:&quot;Fred&quot;};
    // apply template with different models
    var htmlA = yp.platecacheText(&quot;quick&quot;, modelA);
    var htmlB = yp.platecacheText(&quot;quick&quot;, modelB);
    document.getElementById(&quot;tagOut2&quot;).innerHTML = htmlA + &quot;and &quot; + htmlB;
  });
  &lt;/script&gt;        
      </div>
    

    Result:
    
      <div class="plate-result">
      <div id="tagOut2"></div>
      <script type="text/javascript">
      //<![CDATA[
      YUI().use('yplate', function (Y) {// choose a way to make yplate available...
        var yp = new Y.yplate();
        yp.plateTag("*");// change tag for fun.
        // second parameter should be a unique id (a valid javascript identifier name) for the yp instance.
        // If you use the same id with another template it will be overwritten.
        yp.cachecompile("<*= this.name *> ", "quick");
        // use cached and compiled template with a model
        var modelA = {"name":"John"};
        var modelB = {"name":"Fred"};
        // apply template with different models
        var htmlA = yp.platecacheText("quick", modelA);
        var htmlB = yp.platecacheText("quick", modelB);
        document.getElementById("tagOut2").innerHTML = htmlA + "and " + htmlB;
      });
      //]]>
      </script>
      </div>
    
  </div>
  
  <h3>
    <a name="inline-quick">Compile, cache, and apply template all at the same time</a>
  </h3>
  <div>
    API introduced:
    <div class="api">
      api.<a name="platecacheText" href="#api-platecacheText">platecache</a>(templatecacheid /*string*/, data|array data, [tag]);// apply template to data, return Node | NodeList<br/>
    </div>
    
      <div class="pre">
  &lt;div id=&quot;tagOut3&quot;&gt;&lt;/div&gt;
  &lt;script type=&quot;text/javascript&quot;&gt;
  YUI().use('yplate', function (Y) {// choose a way to make yplate available...
    var yp = new Y.yplate();
    yp.plateTag(&quot;*&quot;);
    var modelA = {&quot;name&quot;:&quot;Patrick&quot;};
    var modelB = {&quot;name&quot;:&quot;Fred&quot;};
    // When you supply the third parameter the template will be cached
    var htmlA = yp.plateText(&quot;Hello &lt;*= this.name *&gt; &quot;, modelA, &quot;myId&quot;);
    document.getElementById(&quot;tagOut3&quot;).innerHTML = htmlA;
    // using the fact that we just cached the template, this time we want a YUI Node to be returned.
    var nodeB = yp.platecache(&quot;myId&quot;, modelB);
    Y.one(&quot;#tagOut3&quot;).append(nodeB);
  });
  &lt;/script&gt;
      </div>
    
    Result:
    
      <div class="plate-result">
      <div id="tagOut3"></div>
      <script type="text/javascript">
      //<![CDATA[
      YUI().use('yplate', function (Y) {// choose a way to make yplate available...
        var yp = new Y.yplate();
        yp.plateTag("*");
        var modelA = {"name":"Patrick"};
        var modelB = {"name":"Fred"};
        // When you supply the third parameter the template will be cached
        var htmlA = yp.plateText("Hello <*= this.name *> ", modelA, "myId");
        document.getElementById("tagOut3").innerHTML = htmlA;
        // using the fact that we just cached the template, this time we want a YUI Node to be returned.
        var nodeB = yp.platecache("myId", modelB);
        Y.one("#tagOut3").append(nodeB);
      });
      //]]>
      </script>
      </div>
    
  </div>
  
  <h3>
    <a name="inline-quick">Use an array of models for one template</a>
  </h3>
  
    <div class="pre">
  &lt;div id=&quot;tagOut4&quot;&gt;&lt;/div&gt;
  &lt;script type=&quot;text/javascript&quot;&gt;
  YUI().use('yplate', function (Y) {// choose a way to make yplate available...
    var yp = new Y.yplate(), i, s, html='';
    yp.plateTag(&quot;*&quot;);
    var modelArray = [{&quot;name&quot;:&quot;John&quot;}, {&quot;name&quot;:&quot;Fred&quot;}, {&quot;name&quot;:&quot;Joe&quot;}];
    // when supply an array and use the plateText() function you will get an array of html back.
    var htmlArray = yp.plateText(&quot;Hello &lt;*= this.name *&gt; - &quot;, modelArray, &quot;myId&quot;);
    // when supply an array and use the plate() function you will get a YUI NodeList back.
    var nodeList = yp.plate(&quot;Hello &lt;*= this.name *&gt;&quot;, modelArray);
    for(i=0, s=htmlArray.length; i &lt; s; i++) {
      html += htmlArray[i];
    }
    // html = htmlArray.join(&quot;&quot;); // would work too right.
    document.getElementById(&quot;tagOut4&quot;).innerHTML = html;
  });
  &lt;/script&gt;
    </div>
  
  <div>Result:
    
      <div class="plate-result">
      <div id="tagOut4"></div>
      <script type="text/javascript">
       //<![CDATA[
      YUI().use('yplate', function (Y) {// choose a way to make yplate available...
        var yp = new Y.yplate(), i, s, html='';
        yp.plateTag("*");
        var modelArray = [{"name":"John"}, {"name":"Fred"}, {"name":"Joe"}];
        // when supply an array and use the plateText() function you will get an array of html back.
        var htmlArray = yp.plateText("Hello <*= this.name *> - ", modelArray, "myId");
        // when supply an array and use the plate() function will get a YUI NodeList back.
        var nodeList = yp.plate("Hello <*= this.name *>", modelArray);
        for(i=0, s=htmlArray.length; i < s; i++) {
          html += htmlArray[i];
        }
        // html = htmlArray.join(""); // would work too right.
        document.getElementById("tagOut4").innerHTML = html;
      });
      //]]>
      </script>
     </div>
    
  </div>
  
  <h3>
    <a name="inline-quick">Use script node for larger templates (this is where YUI.substitute and yplate really start to differ)</a>
  </h3>
  <div>
    API used:
    <div class="api">
      escape statement <a name="escape" href="#api-escape">"&lt;%!"</a><br/>
      print statement <a name="print" href="#api-print">"&lt;%="</a><br/>
      code statement <a name="code" href="#api-code">"&lt;% "</a><br/>
      special variable <a name="YPJ" href="#api-YPJ">"YPJ"</a><br/>
      special variable <a name="YP_DATA" href="#api-YP_DATA">"YP_DATA"</a><br/>
      special variable <a name="YP_DATA_SIZE" href="#api-YP_DATA_SIZE">"YP_DATA_SIZE"</a><br/>
    </div>
    
      <div class="pre">
        
   &lt;div id=&quot;outputholder&quot;&gt;
    &lt;span class=&quot;outputinfo&quot;&gt;Actual template applied with array of objects using the example above.&lt;/span&gt;
    &lt;span id=&quot;loadfail&quot;&gt;If you can read this then YUI and or yplate has failed to load, check that referenced files are present.&lt;/span&gt;
  &lt;/div&gt;
  &lt;script type=&quot;text/x-yplate-template&quot; id=&quot;personTemplate&quot;&gt;
  &lt;![CDATA[
    &lt;p&gt;
    Let us try the escape &amp;lt;%! %&amp;gt; statement. &lt;br/&gt;
    &lt;%! &amp; &amp; &amp; %&gt;
    &lt;/p&gt;
    &lt;p&gt;
    Let us try the print &amp;lt;%= %&amp;gt; statement. &lt;br/&gt;
    &lt;%=this.name %&gt;'s age is: &lt;%=this.age %&gt;
    &lt;/p&gt;
    &lt;p&gt;
    Let us try the javascript &amp;lt;% %&amp;gt; statement. &lt;br/&gt;
    &lt;% var myLocalArray = [1,4,5]; %&gt;
    &lt;%
      var myOtherVariable = 0, i, s;
      // this comment is on its own line
      for(i = 0, s = myLocalArray.length; i &lt; s; i++) {
        myOtherVariable += myLocalArray[i];
      }
    %&gt;
    Sum of myOtherVariable: &lt;%= myOtherVariable %&gt;.
    &lt;/p&gt;
    &lt;p&gt;
      Let us try using the ever present special variables&lt;br/&gt;
      Inside your template you have some template global variables, they are:
      &lt;ul&gt;
        &lt;li&gt;YPJ: If your input to one of the yplate functions is an array of data models, then YPJ is the current index into that array.&lt;/li&gt;
        &lt;li&gt;YP_DATA: YP_DATA is always an array. If you want an array as a model, then enclose your model inside an object for example:
        &lt;span class=&quot;pretext&quot;&gt;{mydata:[..]}&lt;/span&gt;, where &lt;span class=&quot;pretext&quot;&gt;[..]&lt;/span&gt; is your array
        &lt;li&gt;YP_DATA_SIZE: The size of YP_DATA.&lt;/li&gt;
      &lt;/ul&gt;
      You can for example use these variables when you have provided an array of object-models to the template:&lt;br/&gt;&lt;br/&gt;
      &lt;div style=&quot;background-color:&lt;%= ( YPJ%2 == 0) ? &quot;pink&quot;: &quot;lightgray&quot;  %&gt;;&quot;&gt;
        I am model index &lt;%= YPJ %&gt; YP_DATA_SIZE is &lt;%= YP_DATA_SIZE %&gt;&lt;/div&gt;
    &lt;/p&gt;
    ]]&gt;
  &lt;/script&gt;

  &lt;script type=&quot;text/javascript&quot;&gt;
  YUI().use('yplate', function (Y) {
    var yp = new Y.yplate();
    yp.plateTag(&quot;%&quot;);
    var modelArray = [{&quot;age&quot;:20,&quot;name&quot;:&quot;Mike&quot;}, {&quot;age&quot;:32,&quot;name&quot;:&quot;Ivan&quot;}];
    var node = yp.plate(Y.one(&quot;#personTemplate&quot;), modelArray);
    Y.one(&quot;#outputholder&quot;).append(node);
  });
  &lt;/script&gt;
     </div>
    
    Result:
    <div class="plate-result">
    <div id="outputholder">
      
    </div>
    </div>
    <script type="text/x-yplate-template" id="personTemplate">
    //<![CDATA[
      <p>
      Let us try the escape &lt;%! %&gt; statement. <br/>
      <%! & & & %>
      </p>
      <p>
      Let us try the print &lt;%= %&gt; statement. <br/>
      <%=this.name %>'s age is: <%=this.age %>
      </p>
      <p>
      Let us try the javascript &lt;% %&gt; statement. <br/>
      <% var myLocalArray = [1,4,5]; %>
      <%
        var myOtherVariable = 0, i, s;
        // this comment is on its own line
        for(i = 0, s = myLocalArray.length; i < s; i++) {
          myOtherVariable += myLocalArray[i];
        }
      %>
      Sum of myOtherVariable: <%= myOtherVariable %>.
      </p>
      <p>
        Let us try using the ever present special variables<br/>
        Inside your template you have some template global variables, they are:
        <ul>
          <li>YPJ: If your input to one of the yplate functions is an array of data models, then YPJ is the current index into that array.</li>
          <li>YP_DATA: YP_DATA is always an array. If you want an array as a model, then enclose your model inside an object for example:
          <span class="pretext">{mydata:[..]}</span>, where <span class="pretext">[..]</span> is your array.</li>
          <li>YP_DATA_SIZE: The size of YP_DATA.</li>
        </ul>
        You can for example use these variables when you have provided an array of object-models to the template:<br/><br/>
        <div style="background-color:<%= ( YPJ%2 == 0) ? "yellow": "#fff"  %>;">
          I am model index <%= YPJ %> YP_DATA_SIZE is <%= YP_DATA_SIZE %></div>
      </p>
      //]]>
    </script>
    <script type="text/javascript">
    //<![CDATA[
    YUI().use('yplate', function (Y) {
      var yp = new Y.yplate();
      yp.plateTag("%");
      var modelArray = [{"age":20,"name":"Mike"}, {"age":32,"name":"Ivan"}];
      var node = yp.plate(Y.one("#personTemplate"), modelArray);
      Y.one("#outputholder").append(node);
    });
    //]]>
    </script>
  </div>

<h2>
  <a name="twohalf">
  Other examples
  </a>
</h2>
<h3>
  <a name="inline-quick">Create a list of hotels</a>
</h3>
    <div class="pre">
  &lt;script type=&quot;text/x-yplate-template&quot; id=&quot;hotelItem&quot;&gt;
  &lt;![CDATA[
  &lt;div class=&quot;hotelListWrap&quot;&gt;
    &lt;div class=&quot;imgWrap&quot; style=&quot;float:&lt;%= this.float %&gt;;&quot;&gt;
      &lt;img src=&quot;&lt;%= this.img %&gt;&quot; height=&quot;&lt;%= this.height %&gt;&quot; alt=&quot;&quot;/&gt;
    &lt;/div&gt;
    &lt;% var css = this.float == &quot;left&quot; ? &quot;padText&quot;: &quot;&quot;; %&gt;
    &lt;div class=&quot;&lt;%= css %&gt;&quot;&gt;
      &lt;div class=&quot;hotelName&quot;&gt;&lt;%= this.hotelName %&gt;&lt;/div&gt;
      &lt;div&gt;
      &lt;% for(var i = 0; i &lt; this.numStars; i++) { %&gt;*&lt;% } %&gt;
      &lt;/div&gt;
      &lt;div&gt;&lt;%= this.description %&gt;&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
   ]]&gt;
  &lt;/script&gt;
  &lt;script type=&quot;text/javascript&quot;&gt;
    YUI().use('yplate', function (Y) {
    var api = new Y.yplate();
    var modelList = [{img:&quot;img/house-blue.png&quot;, height:&quot;100px&quot;, float:&quot;left&quot;, numStars:5, hotelName:&quot;Hotel Blue&quot;, description:&quot;This is a mostly blue hotel.&quot;},
                     {img:&quot;img/house-red.png&quot;, height:&quot;100px&quot;, float:&quot;right&quot;, numStars:4, hotelName:&quot;Hotel Red&quot;, description:&quot;This is kind of a redish hotel.&quot;},
                     {img:&quot;img/house-pink.png&quot;, height:&quot;100px&quot;, float:&quot;left&quot;, numStars:3, hotelName:&quot;Hotel Pink&quot;, description:&quot;This is a hotel with a pink background.&quot;},
                     {img:&quot;img/house-purple.png&quot;, height:&quot;100px&quot;, float:&quot;right&quot;, numStars:2, hotelName:&quot;Hotel Purple&quot;, description:&quot;This is a colorful hotel.&quot;}];
    <b>var nodeList = api.plate(Y.one(&quot;#hotelItem&quot;), modelList);</b>
    Y.one(&quot;#hotelList&quot;).append(nodeList);
    });
  &lt;/script&gt;
    </div>
  
  <div>
    <p>Result: </p>
    <div id="hotelList"></div>
    <script type="text/x-yplate-template" id="hotelItem">
    <![CDATA[
    <div class="hotelListWrap">
      <div class="imgWrap" style="float:<%= this.float %>;">
        <img src="<%= this.img %>" height="<%= this.height %>" alt=""/>
      </div>
      <% var css = this.float == "left" ? "padText": ""; %>
      <div class="<%= css %>">
        <div class="hotelName"><%= this.hotelName %></div>
        <div>
        <% for(var i = 0; i < this.numStars; i++) { %>*<% } %>
        </div>
        <div><%= this.description %></div>
      </div>
    </div>
     ]]>
    </script>
    <script type="text/javascript">
      YUI().use('yplate', function (Y) {
      var api = new Y.yplate();
      var modelList = [{img:"img/house-blue.png", height:"100px", float:"left", numStars:5, hotelName:"Hotel Blue", description:"This is a mostly blue hotel."},
                       {img:"img/house-red.png", height:"100px", float:"right", numStars:4, hotelName:"Hotel Red", description:"This is kind of a redish hotel."},
                       {img:"img/house-pink.png", height:"100px", float:"left", numStars:3, hotelName:"Hotel Pink", description:"This is a hotel with a pink background."},
                       {img:"img/house-purple.png", height:"100px", float:"right", numStars:2, hotelName:"Hotel Purple", description:"This is a colorful hotel."}];
      var nodeList = api.plate(Y.one("#hotelItem"), modelList);
      Y.one("#hotelList").append(nodeList);
      });
    </script>
    
  </div>

<h2>
  <a name="three">
  Troubleshooting
  </a>
</h2>
<p>
  When yplate compiles templates it may encounter errors or template code it cannot handle.
  The following is a list of some of the errors which can arise, their probable causes, and possible solutions.
</p>
<table class="troubleshooting" cellpadding="0" cellspacing="0" >
  <thead>
    <tr><th class="pos7">Error message</th><th class="pos7">Possible cause/solution</th></tr>
  </thead>
  <tbody>
    <tr>
      <td class="etype">"missing ; before statement"</td>
      <td>1. Make sure that ALL your javascript statements inside the template ends with ";" (semi colon)<br/>
      2. You cannot put a tag statement within another statement &raquo; <span style="white-space:nowrap">&lt;%! bla bla <span class="bad">&lt;%=</span> this.name <span class="bad">%&gt;</span> %&gt;</span> is bad.
      <span style="font-weight:bold;">Look over your template for simple syntax errors (common cause of errors).</span>
      </td>
    </tr>
    <tr>
      <td class="etype">"missing ) after argument list"</td>
      <td> Perhaps you have used a complex expression inside &lt;%= ... %&gt;. Do complex stuff outside the print statement.
      <span style="font-weight:bold;">Look over your template for simple syntax errors (common cause of errors).</span>
      </td>
    </tr>
    <tr>
      <td class="etype">syntax error : "var _YP_ESC_ = function(str)"</td>
      <td>Hm, perhaps a bug in yplate. Perhaps your template is too complex for yplate or there is some simple error in your template
      like an extra character like (,{,[ or problematic escape sequences inside your template. <span style="font-weight:bold;">Look over your template for simple syntax errors (common cause of errors).</span></td>
    </tr>
    
    <!--tr><td></td><td></td></tr-->
  </tbody>
</table>
<h2>
  <a name="four">
  Limitations and other important information
  </a>
</h2>
<div class="limitations">
  <p>It is recommended to use CDATA in the script tag as indicated by examples. You can remove the CDATA parts.
  (Sometimes you want to remove the parts because you have a script template which itself contains a &lt; script %&gt; node,
  while this specific scenario may work, it is not supported by yplate.)</p>
  <p>
    It is recommended to use the different plate* functions with a caching id, because without it the template will be parsed each and
    every time you use it, which is slow.
  </p>
  <p>
    You can have comments in javascript like // and /**/. If you use // you should make sure that it is on its own line.
    <strong>yplate does not support templates which have //-style comments on the same line as executable javascript code or html code.</strong>
    <br/><br/>If you can try and use /**/ style comments.<br/>
    <br/>
      Example bad:<br/>
      
      &lt;% <br/>
        <span class="bad"> var a = 2; // this is my comment</span><br/>
      %&gt;<br/>
         Example better:<br/>
      &lt;% <br/>
        // this is my comment<br/>
        var a = 2; <br/>
      %&gt;<br/>
   
    
  </p>
  <p>
    The examples provided here do not cover all possible uses and constructs, the examples provided is the minimal set of things   yplate is supposed to be able to do.
  </p>
  <p>
    When applying a model to a template the API functions which end in text like api.plateText() are faster (probably a lot faster) than api.plate() because the former does
    not have to create a YUI Node/NodeList.
  </p>
</div>

<h2><a name="six">Credits</a></h2>
<p>
  yplate is a partial port of jQote2  by aefxx (http://aefxx.com/) which in turn is a rewrite of John Resig’s Micro-Templating utility.
  I took aefxx code and ported it to YUI, modified the parsing / conversion part and changed the API.
</p>

<div class="footspace">&nbsp;</div>

</body>
</html>

